.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
}

@media (max-width: 960px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
  }
}

.grid-container div {
  padding: 3em;
  background-color: #f1f1f1;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  gap: 3em;
}